/* DEBUG, RESET AND DEVELOP */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLOURS */
body {
    background-color: lightgray;
}
header {
    background-color: hsl(360, 63%, 46%);
    color: whitesmoke;
}
nav {
    color: hsl(360, 63%, 46%)
}
#navbar-toggler {
    background-color: hsl(360, 63%, 46%);
}
.grid-item {
    background-color: #007bff;
    border: 1px solid #ddd;
}
.userid-select {
    color: whitesmoke;
}
footer {
    background-color: #343a40;
    color: whitesmoke;
}
/* TYPOGRAPHIC */

body {
    font: 16px Futura, sans-serif;
}
/* IMAGES */

/* STRUCTURE */
body {
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    padding: 10px;
    text-align: center;
}
header h1 {
    margin-bottom: 0;
}
nav {
    margin-top: 10px;
}
#hamburgerIcon {
    width: 30px;
    height: 30px;
}
#middle {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
aside {
    flex: 1;
}
.grid-container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
}
.grid-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    text-align: left;

    border-radius: 20px;
}
.category {
    margin-bottom: 1rem;
}
.sub-category {
    padding-left: 1.5rem;
}
.product {
    padding-left: 3rem;
}
.btn {
    width: 100%;
    height: 100%;

}
footer {
    padding: 10px;
    text-align: center;
}